<div class="menu-lateral">
    <div class="logo">
      <img src="favicon.ico" alt="Logo" class="logo-img">
    </div>
    <ul>
      <li class="menu">Solicitar
        <div class="submenu">
          <a routerLink="permiso-personal">Permiso Personal</a>
          <a routerLink="permiso-oficial">Permiso Oficial</a>
          <a routerLink="vacaciones">Vacaciones</a>
        </div>
      </li>
      <li class="menu">Validar
        <div class="submenu">
          <a routerLink="mis-solicitudes">Mis Solicitudes</a>
        </div>
      </li>
      <li class="menu">Aprobar
        <div class="submenu">
          <a routerLink="solicitudes">Solicitudes</a>
        </div>
      </li>
    </ul>
    <div>
      <button class="btn button" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
<div class="contenido">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>© 2025 Todos los derechos reservados Secretaria de Derechos Humanos en Honduras.</p>
</footer>