.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(45deg, #296580, #040505);
}

.password-reset-box {
  margin: auto;
  background: rgba(218, 211, 211, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(235, 231, 231, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  animation: fadeIn 0.8s ease-out;
  position: relative;
  overflow: hidden;
}

label, h1 {
  color: #fff;
  margin-bottom: 5px;
}